<!DOCTYPE html>
<html>
<head>
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">


<style>
    body {
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
    }

    .topnav {
    overflow: hidden;
    background-color: #333;
    position: relative;
    }

    .cart {
    position: absolute;
    top: 0;
    right: 0;
    }

    .topnav a {
    float: left;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
    }

    .topnav a:hover {
    background-color: #ddd;
    color: black;
    }

    .topnav a.active {
    background-color: #e8c7c8;
    color: black;
    }




</style>
</head>
<body>

<div class="topnav">
    <a href="/warehouseHomepage">Warehouse Home</a>
    <a href="/workstation">Workstation</a>
    <a href="/receivingDesk">Receiving Desk</a>
</div>

<div style="padding-left:16px">

    <script>
        // Get the current URL path
        var path = window.location.pathname;
      
        // Set the corresponding link as active based on the current path
        var activeLink = document.querySelector('.topnav a[href="' + path + '"]');
        if (activeLink) {
          activeLink.classList.add('active');
        }
      </script>