<html>
    <head>
        <title>Administrator Log In Page</title>
        <link href="/css/bootstrap.min.css" rel="stylesheet"></link>
        <%- include('partials/navbar_administrator') %>

        <style>
        .btn {
            color: #000000;
            background-color: #e8c7c8;
            border-color: #e8c7c8;
        }

        .btn:hover {
            color: #000000;
            background-color: #b86d7e;
            border-color: #b86d7e;
        }
        </style>
    </head>

    <body>
        <h3 class="ms-3 mt-3 mb-3">Administrator Login</h3>
        <p class="ms-3">Log into:</p>
        <a class="btn btn-primary ms-3" href="/shippingBracket" role="button">Shipping Bracket</a>
        </form>
        <br>
        <br>
        <a href="/orders">
        <button type="submit" class="btn btn-primary ms-3">Orders</button>
        </form>
        <br>
    </body>
</html>