<html>
    <head>
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <link href="/css/bootstrap.min.css" rel="stylesheet"></link>
        <title>Checkout</title>

    </head>

    <body class="bg-light">

        <div class="container">
            <div class="py-5 text-center">
                <h2>Checkout</h2>
                <p class="lead">Enter your information below.</p>
            </div>
        </div>

        <div class="container">
            <h4 class="mb-3">Billing Address</h4>
            <form novalidate>
                <div class="row g-3">
                    <div class="col-sm-6">
                        <label for="firstName" class="form-label">First Name</label>
                        <input type="text" id="firstName" class="form-control">
                        <div class="invalid-feedback">Valid first name is required.</div>
                    </div>
                    <div class="col-sm-6">
                        <label for="lastName" class="form-label">Last Name</label>
                        <input type="text" id="lastName" class="form-control">
                        <div class="invalid-feedback">Valid last name is required.</div>
                        
                    </div>
                </div>
            </form>
        </div>


        <script src="/js/bootstrap.min.js"></script>
    </body>
</html>