<html>
    <head>
        <title>Express Server</title>
    </head>
    <body>
        <%- include('partials/navbar') %>

        <h3>Express Server</h3>
        This server is an example.
        <ul>
            <li><a href="shop">shop</a></li>
            <li><a href="processCC">process a credit card</a></li>
            <li><a href="shoppingCart">view shopping cart</a></li>
            <li><a href="warehouseHomepage">warehouse homepage</a></li>
        </ul>
    </body>
</html>