<html>
    <head>
        <title>Home</title>
        <!-- Bootstrap CSS -->
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" integrity="...">
        
        <!-- Bootstrap JavaScript (popper.js and Bootstrap JS) -->
        <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.6/dist/umd/popper.min.js" integrity="..."></script>
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.min.js" integrity="..."></script>
    </head>
    <style>
        .btn-container {
            padding-left: 10px;
            display: inline-block;
        }

        .btn {
            color: #000000;
            background-color: #e8c7c8;
            border-color: #e8c7c8;
        }

        .btn:hover {
            color: #000000;
            background-color: #b86d7e;
            border-color: #b86d7e;
        }

        .btn.btn-primary {
            color: #000000;
            background-color: #e8c7c8;
            border-color: #e8c7c8;
        }

        .btn.btn-primary:hover {
            color: #000000;
            background-color: #b86d7e;
            border-color: #b86d7e;
        }
        </style>
    <body>
        <%- include('partials/navbar') %>

        <div class="btn-container">
            <br>
            <a href="shop">
            <button type="submit" class="btn btn-primary">Shop</button></a>
            <br><br>
            <a href="warehouseHomepage">
            <button type="submit" class="btn btn-primary">Warehouse</button></a>
            <br><br>
            <a href="shippingBracket">
            <button type="submit" class="btn btn-primary">Administration</button></a>
        </div>
    </body>
</html>