<html>
    <head>
        <title>Warehouse Receiving Desk</title>
    </head>

    <body>
        <h3>Warehouse System: Receiving Desk</h3>
        Receiving Desk duties can be performed here.
    </body>
</html>