<html>
    <head>
        <title>Warehouse Log In Page</title>
    </head>

    <body>
        <h3>Warehouse Login</h3>
        Log in as:<br><br>
        <form action="/workstation" method = "post">
        <button type="submit">Warehouse Employee</button>
        </form>
        <br>
        <br>
        <form action="/receivingDesk" method = "post">
        <button type="submit">Receiving Desk Employee</button>
        </form>
        <br>
    </body>
</html>