<html>
    <head>
        <title>Warehouse Workstation</title>
    </head>

    <body>
        <h3>Warehouse System: Workstation</h3>
        Workstation duties can be performed here.
    </body>
</html>