<html>
    <head>
        <style>
            .workstation {
                flex: 1; 
                display: flex;
                align-items: center;
                justify-content: center; 
                margin-right: -0.5rem;
            }

            .order-display {
                flex: 1; 
                display: flex;
                align-items: center;
                justify-content: center; 
                margin-right: -0.5rem;
            }
        </style>
        <title>Warehouse Workstation</title>
    </head>

    <body>
        <%- include('partials/navbar_warehouse') %>
        <div class="workstation">
            <h3>Workstation</h3>
            <br><br>
        </div>

        <div class="order-display">
            <table border="1", padding="15px">
                <tr>
                    <th style="padding: 20px">Order Date</th>
                    <th style="padding: 20px">Order ID</th>
                    <th style="padding: 20px">Order Status</th>
                    <th style="padding: 20px"></th>
                    <th style="padding: 20px">Mark Packed</th>
                    <th style="padding: 20px"></th>
                    <th style="padding: 20px">Mark Shipped</th>
                </tr>
                <tr>
                    <td>01-01-2001</td>
                    <td>1</td>
                    <td>Received</td>
                    <td><input type="button" id="printPackingList" name="printPackingList" value="Print Packing List"></td>
                    <td style="text-align: center;"><input type="checkbox" id="packed" name="packed"></td>
                    <td><input type="button" id="printLabels" name="printLabels" value="Print Invoice and Shipping Label"></td>
                    <td style="text-align: center;"><input type="checkbox" id="shipped" name="shipped"></td>
                </tr>
            </table>
        </div>
    </body>
</html>