<html>
    <head>
        <style>
            .workstation {
                flex: 1; 
                display: flex;
                align-items: center;
                justify-content: center; 
                margin-right: -0.5rem;
            }

            .order-display {
                flex: 1; 
                display: flex;
                align-items: center;
                justify-content: center; 
                margin-right: -0.5rem;
            }
        </style>
        <title>Warehouse Workstation</title>
    </head>

    <body>
        <%- include('partials/navbar_warehouse') %>
        <div class="workstation">
            <h3>Workstation</h3>
            <br><br>
        </div>

        <div class="order-display">
            <table border="1", padding="15px">
                <tr>
                    <th style="text-align: center; padding: 20px">Order Date</th>
                    <th style="padding: 20px">Order ID</th>
                    <th style="padding: 20px">Order Status</th>
                    <th style="text-align: center; padding: 20px">Print</th>
                    <th style="padding: 20px">Update Status</th>
                </tr>
                <% for (part in all) { %>
                <tr>
                    <td style="text-align: center; padding: 20px"><%= all[part].date %></td>
                    <td style="text-align: center;"><%= all[part].id %></td>
                    <td style="text-align: center;"><%= all[part].status %></td>
                    <td style="text-align: center; padding: 20px"><input type="button" id="printPackingList" name="printPackingList" value="Print Packing List">
                    <br><input type="button" id="printLabels" name="printLabels" value="Print Invoice and Shipping Label"></td>
                    <td style="text-align: center;"><input type="button" id="shipped" name="shipped" value="Mark Shipped"></td>
                </tr>
                <% }; %>
            </table>
        </div>
    </body>
</html>